*{
    margin: 0;
    padding: 0;
}

body{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    align-items: center;
    background-color: black;
    color: blanchedalmond;
}

body img{
    border-radius: 50%;
}

#btn{
    height: 45px;
    width: 90px;
    border: solid 2px rgb(126, 0, 0);
    border-radius: 40px;
    cursor: pointer;
    margin-top: 2%;
    background-color: rgb(229, 233, 13);
}

#btn:hover{
    background-color: rgb(3, 243, 83);
}