body{
    background-image: url("Srone.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    color:black;
    font-weight: bolder;
    font-style: italic;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  color: black;
  -webkit-animation: glow 1s ease-in-out infinite alternate;
  -moz-animation: glow 1s ease-in-out infinite alternate;
  animation: glow 1s ease-in-out infinite alternate;
}
#btn1{
    border: solid 5px red;
    border-radius: 10px;
    font-size: x-large;
    font-weight: bold;
    height: 75px;
    width: 100px;
    position: absolute;
    left: 400px;
}
#btn2{
    border: solid 5px green;
    border-radius: 10px;
    font-size: x-large;
    font-weight: bold;
    height: 75px;
    width: 100px;
    position: absolute;
    left: 500px;
}
#heading{
    position: relative;
    left: 400px;
    font-size: 50px;
    text-shadow: 2px 2px white;
}
#h2{
    color:white;
    font-size: 30px;
    
}
#h22{
    color:rgb(253, 252, 252);
    font-size: 30px;
    position: absolute;
    right: 250px;
    top: 150px;
    
}
#division{
    position: relative;
    left: 250px;
}
@-webkit-keyframes glow {
    from {
      text-shadow: 0 0 10px #fff, 0 0 20px #fff, 0 0 30px #e60073, 0 0 40px #e60073, 0 0 50px #e60073, 0 0 60px #e60073, 0 0 70px #e60073;
    }
    
    to {
      text-shadow: 0 0 20px #fff, 0 0 30px #ff4da6, 0 0 40px #ff4da6, 0 0 50px #ff4da6, 0 0 60px #ff4da6, 0 0 70px #ff4da6, 0 0 80px #ff4da6;
    }
  }
  img{
    position: absolute;
    right: 600px;
    bottom: 50px;
  }
  #h23{
    position: absolute;
    left: 325px;
    bottom: 25px;
  }
  #result1{
    position: absolute;
    left: 200px;
  }
  #result2{
    position: absolute;
    left: 600px;
  }